name: renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Renovate Bot GitHub Action
        uses: renovatebot/github-action@v43.0.8
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
